
body.lightMode .form, body.lightMode .auth-form{
    --form-bg: #f5f5f5;
  --input-textarea-bg: #ffffff;
  --input-textarea-color: #1a1a1a;
  --input-textarea-border: #cfcfcf;
  --btn-bg: #ff6a00;
  --link: #1a1a1a;

}
/* Form */
.auth-form, .form {
  --form-bg: #272727;
  --input-textarea-bg: #1d1d1d;
  --input-textarea-color: #fff;
  --input-textarea-border: #444;

  width: 100%;
  max-width: 480px;
  margin: auto;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--form-bg);
  border-radius: 12px;
}
form a {
  color: var(--link);
  text-decoration: underline;
}
form a:hover {
  opacity: 0.6;
}

/* Form Labels */
label {
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0;
}

/* Inputs */
input, textarea {
  width: 100%;
  padding: 14px;
  margin: 20px 0 4px;
  border-radius: 10px;
  background: var(--input-textarea-bg);
  border: 2px solid var(--input-textarea-border);
  color: var(--input-textarea-color);
  transition: 0.25s;
}
textarea {
  min-height: 100px;
}
input:focus, textarea:focus {
  border-color: #ff8800;
  box-shadow: 0 0 0 3px rgba(255,136,0,0.3);
  outline: none;
}

/* Buttons */
button, #popup-button, #loginLink {
  background: var(--btn-bg);
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  margin: 10px auto;
  min-width: 40%;
}

button:hover {
  background: #ff8b1a;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
button:focus {
  opacity: 0.9;
}

#logoutBtn, #loginLink {
  color: #1d1d1d;
  flex: 1;
  border: none;
  margin-left: 30px;
background: #ff6b6b;
  box-shadow: 0 4px 10px rgba(255, 107, 107, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#logoutBtn:hover, #loginLink:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(255, 107, 107, 0.4);
}

#logoutBtn:active {
  transform: scale(0.96);
}
#actionBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column; 
}
#actionBtn button {
  width: 80%;
  margin-bottom: 0;
}
.or {
  opacity: 0.4;
  margin: 0;
}