
/* Popup Overlay */
#popup {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

/* Popup Box */
#popup-content {
  background: #3b3b3b;
  padding: 28px;
  width: 90%;
  max-width: 400px;
  border-radius: 14px;
  text-align: center;
  animation: fadeIn 0.25s ease;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.4);
  color: #fff;
}
.infoText {
  opacity: 0.5;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(8px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes slideup {
  from {
    margin: 100px auto;
  }
  to {
    margin: 40px auto;
  }
}

.google-btn {
  display: grid;
  grid-template-columns: 30px 1fr;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.google-btn svg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #3b3b3b;
}

/* Social Icons */
.social-icons a {
  color: #ffd061;
  font-size: 28px;
  margin: 0 10px;
  transition: 0.25s;
}
.social-icons a:hover {
  color: #ff9e00;
}

/* Links */
 form a {
  color: #ffb03a;
  text-decoration: none;
}

.infoNoteLogin, .infoNoteSignup {
  display: none;
    text-align: center;
  background-color: var(--infoNote-bg);
  color: var(--infoNote-color);
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 1rem;
}
p.errorShow {
  display: block;
  animation: blink 2s ease;
}
@keyframes blink{
0% {
  background: var(--infoNote-bg);
  color: (--infoNote-color);
} 25% {
    background: var(--infoNote-color);
  color: (--infoNote-bg);
} 30% {
  background: var(--infoNote-bg);
  color: white;
} 45% {
    background: var(--infoNote-color);
  color: (--infoNote-bg);
} 100% {
  background: var(--infoNote-bg);
  color: (--infoNote-color);
} 
}